<div class="notad" id=
	"4"
	>

	<div class="listcontainer">

		<p class="listelement">
			4.
		</p>

		<p class="listelement">
			Some team here
		</p>

		<p class="listelement">
			XXX
		</p>

		<p class="listelement">
			XXX
		</p>
		
	</div>

	<div class="tablecontainer hidden" id=
		"t4"
		>
	<p class="tableelement">
		Dilluns
	</p>
	<p class="tableelement">
		Dimarts
	</p>
	<p class="tableelement">
		Dimecres
	</p>
	<p class="tableelement">
		Dijous
	</p>
	<p class="tableelement">
		Divendres
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
		69
	</p>
	<p class="tableelement">
		69
	</p>
	<p class="tableelement">
		69
	</p>
	<p class="tableelement">
		69
	</p>
	<p class="tableelement">
		69
	</p>
	<p class="tableelement">
		4
	</p>
</div>
		
</div>