<div class="notad" id=
	"1"
	>
<div class="podiumcontainer">
		<img class="badge podiumelement" src="../static/badges/badge1.png">
		<p class="podiumelement">
			Some team here
		</p>
		<p class="podiumelement">
			XXX 
		</p>
		<p class="podiumelement">
			XXX 
		</p>
</div>
<!--Now we add the table for the points-->
<div class="tablecontainer hidden" id=
	"t1"
	>
	<p class="tableelement">
		Dilluns
	</p>
	<p class="tableelement">
		Dimarts
	</p>
	<p class="tableelement">
		Dimecres
	</p>
	<p class="tableelement">
		Dijous
	</p>
	<p class="tableelement">
		Divendres
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
		69
	</p>
	<p class="tableelement">
		69
	</p>
	<p class="tableelement">
		69
	</p>
	<p class="tableelement">
		69
	</p>
	<p class="tableelement">
		69
	</p>
	<p class="tableelement">
		4
	</p>
</div>
</div>