<!DOCTYPE html>
<html lang="ca">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../static/indstyle.css">
	<link href='https://css.gg/arrow-left.css' rel='stylesheet'>
	<script defer src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>
	<script defer src="../static/js/eqnfscript.js"></script>

	<title>Bitlles a la fresca</title>
</head>

<header>
	<div class="headercolumn">
		<img id="headerlogo" src="../static/logo.png">
	</div>
	
	<div class="headercolumn">
		<h1>
			Classificacions individuals federats 22
		</h1>
	</div>
</header>

<body>