@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html {
	margin: 0px;
	border: 0px;
	padding: 0px;
}

p {
	color: white;
	font-size: 6vw;
	font-family: 'Lato', sans-serif;
}

body {
	background-color: rgb(0,0,0);
	width: 98%;
}

#headerlogo {
	width: 25vw;
	height: 25vw;
	filter: invert(100%);
}

.podiumcontainer {
	display: grid;
	align-items: center;
	grid-template-areas: "badge player average plays";
 	gap: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

.podiumelement:nth-child(1) {
	margin: 7px;
	border: 0px;
	padding: 1px;
	width: 11,5vw;
	grid-area: badge;
}

.badge {
	filter: invert(100%);
	height: 15vw;
	width: 10.9897;
}

.podiumelement:nth-child(2) {
	margin: 0px;
	border: 0px;
	padding: 0px;
	grid-area: player;
}

.podiumelement:nth-child(3) {
	margin: 0px;
	border: 0px;
	padding: 0px;
	font-size: 3.5vw;
	transform: translateY(-4vw);
	grid-column: 2;
	grid-row: 2;
}

.podiumelement:nth-child(4) {
	margin: 0px;
	border: 0px;
	padding: 0px;
	grid-area: average;
}

.podiumelement:nth-child(5) {
	margin: 0px;
	border: 0px;
	padding: 0px;
	grid-area: plays;
	font-size: 3.5vw;
	transform: translateY(1vw);
}

.tablecontainer {
	display: grid;
	align-items: center !important;
	grid-template-areas: "promig bitlles totpunts"
						 "promigp bitllesb totpuntsp";
 	gap: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

.tableelement:nth-child(1) {
	color: white;
	font-size: 3.5vw !important;
	grid-area: promig;
	font-family: 'Lato', sans-serif;
	align-items: center;
}

.tableelement:nth-child(2) {
	color: white;
	font-size: 3.5vw !important;
	grid-area: bitlles;
	font-family: 'Lato', sans-serif;
}

.tableelement:nth-child(3) {
	color: white;
	font-size: 3.5vw !important;
	grid-area: totpunts;
	font-family: 'Lato', sans-serif;
}

.tableelement:nth-child(4) {
	color: white;
	font-size: 3.5vw !important;
	grid-area: promigp;
	font-family: 'Lato', sans-serif;
}

.tableelement:nth-child(5) {
	color: white;
	font-size: 3.5vw !important;
	grid-area: bitllesb;
	font-family: 'Lato', sans-serif;
}

.tableelement:nth-child(6) {
	color: white;
	font-size: 3.5vw !important;
	grid-area: totpuntsp;
	font-family: 'Lato', sans-serif;
}

.listcontainer {
	display: grid;
	align-items: center;
	grid-template-areas: "position team total cdtotal";
 	gap: 0px;
	margin: 0px 0px 0px 10px;
	border: 0px;
	padding: 0px;
}

.listelement:nth-child(1) {
	color: white;
	font-size: 5.5vw;
	width: 65.97px;
	grid-area: position;
	font-family: 'Lato', sans-serif;
}

.listelement:nth-child(2) {
	color: white;
	font-size: 5.5vw;
	grid-area: team;
	font-family: 'Lato', sans-serif;
}

.listelement:nth-child(3) {
	margin: 0px;
	border: 0px;
	padding: 0px;
	font-size: 3.5vw;
	transform: translateY(-4vw);
	grid-column: 2;
	grid-row: 2;
}

.listelement:nth-child(4) {
	color: white;
	font-size: 5.5vw;
	grid-area: total;
	font-family: 'Lato', sans-serif;
}

.listelement:nth-child(5) {
	margin: 0px;
	border: 0px;
	padding: 0px;
	grid-area: cdtotal;
	font-size: 3.5vw;
	transform: translateY(1vw);
}

h1 {
	font-family: 'Lato', sans-serif;
	color: white;
	font-size: 3vh;
	text-align: center;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

header {
	background-color: rgb(0,0,0);
	display: grid;
	grid-template-areas: "logo h1";
 	gap: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
	align-items: center;
	width: 98%;
}

.headercolumn:nth-child(1) {
	margin: 0px;
	border: 0px;
	padding: 0px;
	grid-area: logo;
	width: 28vw;
}

#footerlogo {
	width: 15vw;
	height: 15vw;
	filter: invert(100%);
	grid-column: 1;
}

#spacer {
	width: 85vw;
}

.headercolumn:nth-child(2) {
	margin: 0px;
	border: 0px;
	padding: 0px;
	grid-area: h1;
}

footer {
	position: fixed;
    bottom: 0;
	display: grid;
	align-items: center;
	background-color: black;
}

#tomenu {
	color: white;
	width: 38px;
	height: 38px;
	grid-column: 2;
	grid-row: 1;
}

.link-spanner{
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}

.transition-fade {
  transition: 0.4s;
  opacity: 1;
	transform: translateX(0);
	transform-origin: left;
	
}

html.is-animating .transition-fade {
  opacity: 1;
	transform: translateX(100%);
}

html.is-leaving .transition-fade {
  opacity: 0;
}

.px25{
	height: 35px;
}

.hidden{
display:none;
}