<!DOCTYPE html>
<html lang="ca">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Classificació equips federats</title>
	<script src="../static/js/eqfscript.js"></script>
	<script src="../static/js/tomenu.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/eqfstyle.css">
	<link href='https://css.gg/arrow-right.css' rel='stylesheet'>
</head>
<body>
	
</body>

<footer>
	<i id="tomenu" class="gg-arrow-right"></i>
</footer>
	
</html>