<!DOCTYPE html>
<html lang="ca">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="../static/js/script.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/style.css">
	<link class="buttoncolumn" href='https://css.gg/arrow-right.css' rel='stylesheet'>
	<title>Bitlles a la fresca</title>
</head>

<header>
	<div class="headercolumn">
		<h1>
			Classificacions bitlles a la fresca '22
		</h1>
	</div>

	<div class="headercolumn">
		<img id="headerlogo" src="../static/logo.png">
	</div>

	<div class="headercolumn">
	</div>
</header>
	
<body>

<!--<div class="ad">
	<p class="adelement">
		Aquests patrocinadors ajuden a que el torneig sigui possible.
	</p>
	<div class="adelement">
		<img src="../static/ads/Trienergiaad.png" class="adimage">
	</div>
	<div class="adelement">
		<img src="../static/ads/Trienergiaad.png" class="adimage">
	</div>
	<div class="adelement"><div>
</div>-->

	
<a href="https://bitllesalafresca.anthrline.repl.co/equipsfederats">
<div id=equipsfederats> 
	<div class="button-container">
		<p class="buttoncolumn"><u><b>Equips federats</b></u></p>
		
		<div class="gg-arrow-right buttoncolumn2"></div>
	</div>
	
	<div class="podium-container">
			<img class="badgesmall podiumbutton" src="../static/badges/badge1title.png"></img> 
		<p class="podiumbutton">
La Penya del Bistec		</p>
	</div>
</div>
</a>

<a href="https://bitllesalafresca.anthrline.repl.co/equipsnofederats">
<div id=equipsnofederats> 
	<div class="button-container">
		<p class="buttoncolumn"><u><b>Equips no federats</b></u></p>
		
		<div class="gg-arrow-right buttoncolumn2"></div>
	</div>
	
	<div class="podium-container">
			<img class="badgesmall podiumbutton" src="../static/badges/badge1title.png"></img> 
		<p class="podiumbutton">
Minibitllerus		</p>
	</div>
</div>
</a>

<a href="https://bitllesalafresca.anthrline.repl.co/individualnofederats">
<div id=individualnofederats>
	<div class="button-container">
		<p class="buttoncolumn"><u><b>Individual no federats</b></u></p>
		
		<div class="gg-arrow-right buttoncolumn2"></div>
	</div>
	
	<div class="podium-container">
			<img class="badgesmall podiumbutton" src="../static/badges/badge1title.png"></img> 
		<p class="podiumbutton">
Carlos Martín		</p>
	</div>
</div>
</a>

<a href="https://bitllesalafresca.anthrline.repl.co/individualfederats">
<div id=individualfederats> 
	<div class="button-container">
		<p class="buttoncolumn"><u><b>Individual federats</b></u></p>
		<div class="gg-arrow-right buttoncolumn2"></div>
	</div>

	<div class="podium-container">
			<img class="badgesmall podiumbutton" src="../static/badges/badge1title.png"></img> 
		<p class="podiumbutton">
Jaime López		</p>
	</div>
</div>
</a>

	
<a href="https://bitllesalafresca.anthrline.repl.co/individual20102014">	
<div id=individual20102014> 
	<div class="button-container">
		<p class="buttoncolumn"><u><b>Individual 2010 - 2014</b></u></p>
		
		<div class="gg-arrow-right buttoncolumn2"></div>
	</div>
	
	<div class="podium-container">
			<img class="badgesmall podiumbutton" src="../static/badges/badge1title.png"></img> 
		<p class="podiumbutton">
Jordi Monfulleda (MB)		</p>
	</div>
</div>
</a>

<a href="https://bitllesalafresca.anthrline.repl.co/individual20062009">
<div id=individual20062009> 
	<div class="button-container">
		<p class="buttoncolumn"><u><b>Individual 2006 - 2009</b></u></p>
		
		<div class="gg-arrow-right buttoncolumn2"></div>
	</div>
	
	<div class="podium-container">
			<img class="badgesmall podiumbutton" src="../static/badges/badge1title.png"></img> 
		<p class="podiumbutton">
Hervé Manresa		</p>
	</div>
</div>
</a>
	
<div class="px25"></div>
	
<footer>
	<p>© La penya del bistec 2022 - Fet per @alanmenac</p>
</footer>
	
</html>