<!DOCTYPE html>
<html lang="ca">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../static/indstyle.css">
	<link href='https://css.gg/arrow-left.css' rel='stylesheet'>
	<script defer src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>
	<script defer src="../static/js/eqnfscript.js"></script>

	<title>Bitlles a la fresca</title>
</head>

<header>
	<div class="headercolumn">
		<img id="headerlogo" src="../static/logo.png">
	</div>
	
	<div class="headercolumn">
		<h1>
			Classificacions individuals federats 22
		</h1>
	</div>
</header>

<body><div id=
"1"	>
<div class="podiumcontainer">
<img class="badge podiumelement" src="../static/badges/badge1.png">		<p class="podiumelement">
Jaime López		</p>
		<p class="podiumelement">
La Penya del Bistec		</p>
		<p class="podiumelement">
82		</p>
		<p class="podiumelement">
2		</p>
</div>
<!--Now we add the table for the points-->
<div class="tablecontainer hidden" id=
"t1"	>
	<p class="tableelement">
		Promig
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
		Punts totals
	</p>
	<p class="tableelement">
82	</p>
	<p class="tableelement">
15	</p>
	<p class="tableelement">
164	</p>
	</div>
</div><div id=
"2"	>
<div class="podiumcontainer">
<img class="badge podiumelement" src="../static/badges/badge2.png">		<p class="podiumelement">
Laia Roura		</p>
		<p class="podiumelement">
Oju Peligru		</p>
		<p class="podiumelement">
80		</p>
		<p class="podiumelement">
2		</p>
</div>
<!--Now we add the table for the points-->
<div class="tablecontainer hidden" id=
"t2"	>
	<p class="tableelement">
		Promig
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
		Punts totals
	</p>
	<p class="tableelement">
80	</p>
	<p class="tableelement">
14	</p>
	<p class="tableelement">
160	</p>
	</div>
</div><div id=
"3"	>
<div class="podiumcontainer">
<img class="badge podiumelement" src="../static/badges/badge3.png">		<p class="podiumelement">
Ana Medina		</p>
		<p class="podiumelement">
La Penya del Bistec		</p>
		<p class="podiumelement">
78		</p>
		<p class="podiumelement">
1		</p>
</div>
<!--Now we add the table for the points-->
<div class="tablecontainer hidden" id=
"t3"	>
	<p class="tableelement">
		Promig
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
		Punts totals
	</p>
	<p class="tableelement">
78	</p>
	<p class="tableelement">
7	</p>
	<p class="tableelement">
78	</p>
	</div>
</div><div id=
"4"	>

	<div class="listcontainer">

		<p class="listelement">
4		</p>

		<p class="listelement">
Quim Caballé		</p>

		<p class="listelement">
Caçabitlles		</p>

		<p class="listelement">
78		</p>

		<p class="listelement">
1		</p>
		
	</div>

	<div class="tablecontainer hidden" id=
"t4"	>
	<p class="tableelement">
		Promig
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
		Punts totals
	</p>
	<p class="tableelement">
78	</p>
	<p class="tableelement">
7	</p>
	<p class="tableelement">
78	</p>
	</div>
		
</div><div id=
"5"	>

	<div class="listcontainer">

		<p class="listelement">
5		</p>

		<p class="listelement">
Llorenç Serra		</p>

		<p class="listelement">
La Penya del Bistec		</p>

		<p class="listelement">
78		</p>

		<p class="listelement">
2		</p>
		
	</div>

	<div class="tablecontainer hidden" id=
"t5"	>
	<p class="tableelement">
		Promig
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
		Punts totals
	</p>
	<p class="tableelement">
78	</p>
	<p class="tableelement">
13	</p>
	<p class="tableelement">
156	</p>
	</div>
		
</div><div id=
"6"	>

	<div class="listcontainer">

		<p class="listelement">
6		</p>

		<p class="listelement">
Vero Entrena		</p>

		<p class="listelement">
5 + 1@		</p>

		<p class="listelement">
77.5		</p>

		<p class="listelement">
2		</p>
		
	</div>

	<div class="tablecontainer hidden" id=
"t6"	>
	<p class="tableelement">
		Promig
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
		Punts totals
	</p>
	<p class="tableelement">
77.5	</p>
	<p class="tableelement">
14	</p>
	<p class="tableelement">
155	</p>
	</div>
		
</div><div id=
"7"	>

	<div class="listcontainer">

		<p class="listelement">
7		</p>

		<p class="listelement">
Pau Gallego		</p>

		<p class="listelement">
La Penya del Bistec		</p>

		<p class="listelement">
77		</p>

		<p class="listelement">
1		</p>
		
	</div>

	<div class="tablecontainer hidden" id=
"t7"	>
	<p class="tableelement">
		Promig
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
		Punts totals
	</p>
	<p class="tableelement">
77	</p>
	<p class="tableelement">
7	</p>
	<p class="tableelement">
77	</p>
	</div>
		
</div><div id=
"8"	>

	<div class="listcontainer">

		<p class="listelement">
8		</p>

		<p class="listelement">
David Palomé		</p>

		<p class="listelement">
5 + 1@		</p>

		<p class="listelement">
76.5		</p>

		<p class="listelement">
2		</p>
		
	</div>

	<div class="tablecontainer hidden" id=
"t8"	>
	<p class="tableelement">
		Promig
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
		Punts totals
	</p>
	<p class="tableelement">
76.5	</p>
	<p class="tableelement">
13	</p>
	<p class="tableelement">
153	</p>
	</div>
		
</div><div id=
"9"	>

	<div class="listcontainer">

		<p class="listelement">
9		</p>

		<p class="listelement">
Xavi Mena		</p>

		<p class="listelement">
4 x 4		</p>

		<p class="listelement">
75		</p>

		<p class="listelement">
2		</p>
		
	</div>

	<div class="tablecontainer hidden" id=
"t9"	>
	<p class="tableelement">
		Promig
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
		Punts totals
	</p>
	<p class="tableelement">
75	</p>
	<p class="tableelement">
11	</p>
	<p class="tableelement">
150	</p>
	</div>
		
</div><div id=
"10"	>

	<div class="listcontainer">

		<p class="listelement">
10		</p>

		<p class="listelement">
Jordi Monfulleda (MB)		</p>

		<p class="listelement">
Minibitllerus		</p>

		<p class="listelement">
73.5		</p>

		<p class="listelement">
2		</p>
		
	</div>

	<div class="tablecontainer hidden" id=
"t10"	>
	<p class="tableelement">
		Promig
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
		Punts totals
	</p>
	<p class="tableelement">
73.5	</p>
	<p class="tableelement">
12	</p>
	<p class="tableelement">
147	</p>
	</div>
		
</div><div id=
"11"	>

	<div class="listcontainer">

		<p class="listelement">
11		</p>

		<p class="listelement">
Hipolito Palomares		</p>

		<p class="listelement">
Bitlla Atòmica		</p>

		<p class="listelement">
71.5		</p>

		<p class="listelement">
2		</p>
		
	</div>

	<div class="tablecontainer hidden" id=
"t11"	>
	<p class="tableelement">
		Promig
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
		Punts totals
	</p>
	<p class="tableelement">
71.5	</p>
	<p class="tableelement">
11	</p>
	<p class="tableelement">
143	</p>
	</div>
		
</div><div id=
"12"	>

	<div class="listcontainer">

		<p class="listelement">
12		</p>

		<p class="listelement">
Xevi Segales		</p>

		<p class="listelement">
Bitlla Atòmica		</p>

		<p class="listelement">
71.5		</p>

		<p class="listelement">
2		</p>
		
	</div>

	<div class="tablecontainer hidden" id=
"t12"	>
	<p class="tableelement">
		Promig
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
		Punts totals
	</p>
	<p class="tableelement">
71.5	</p>
	<p class="tableelement">
11	</p>
	<p class="tableelement">
143	</p>
	</div>
		
</div><div id=
"13"	>

	<div class="listcontainer">

		<p class="listelement">
13		</p>

		<p class="listelement">
Susana Casado		</p>

		<p class="listelement">
Vila de Tordera		</p>

		<p class="listelement">
69		</p>

		<p class="listelement">
2		</p>
		
	</div>

	<div class="tablecontainer hidden" id=
"t13"	>
	<p class="tableelement">
		Promig
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
		Punts totals
	</p>
	<p class="tableelement">
69	</p>
	<p class="tableelement">
11	</p>
	<p class="tableelement">
138	</p>
	</div>
		
</div><div id=
"14"	>

	<div class="listcontainer">

		<p class="listelement">
14		</p>

		<p class="listelement">
Julian Garcia		</p>

		<p class="listelement">
Bitlla Atòmica		</p>

		<p class="listelement">
69		</p>

		<p class="listelement">
2		</p>
		
	</div>

	<div class="tablecontainer hidden" id=
"t14"	>
	<p class="tableelement">
		Promig
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
		Punts totals
	</p>
	<p class="tableelement">
69	</p>
	<p class="tableelement">
10	</p>
	<p class="tableelement">
138	</p>
	</div>
		
</div><div id=
"15"	>

	<div class="listcontainer">

		<p class="listelement">
15		</p>

		<p class="listelement">
Arnau Barrera		</p>

		<p class="listelement">
Minibitllerus		</p>

		<p class="listelement">
68		</p>

		<p class="listelement">
2		</p>
		
	</div>

	<div class="tablecontainer hidden" id=
"t15"	>
	<p class="tableelement">
		Promig
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
		Punts totals
	</p>
	<p class="tableelement">
68	</p>
	<p class="tableelement">
10	</p>
	<p class="tableelement">
136	</p>
	</div>
		
</div><div id=
"16"	>

	<div class="listcontainer">

		<p class="listelement">
16		</p>

		<p class="listelement">
Anna Pruna		</p>

		<p class="listelement">
La Penya del Bistec		</p>

		<p class="listelement">
68		</p>

		<p class="listelement">
2		</p>
		
	</div>

	<div class="tablecontainer hidden" id=
"t16"	>
	<p class="tableelement">
		Promig
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
		Punts totals
	</p>
	<p class="tableelement">
68	</p>
	<p class="tableelement">
10	</p>
	<p class="tableelement">
136	</p>
	</div>
		
</div><div id=
"17"	>

	<div class="listcontainer">

		<p class="listelement">
17		</p>

		<p class="listelement">
David Roura		</p>

		<p class="listelement">
5 + 1@		</p>

		<p class="listelement">
67.5		</p>

		<p class="listelement">
2		</p>
		
	</div>

	<div class="tablecontainer hidden" id=
"t17"	>
	<p class="tableelement">
		Promig
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
		Punts totals
	</p>
	<p class="tableelement">
67.5	</p>
	<p class="tableelement">
10	</p>
	<p class="tableelement">
135	</p>
	</div>
		
</div><div id=
"18"	>

	<div class="listcontainer">

		<p class="listelement">
18		</p>

		<p class="listelement">
Jordi Serra		</p>

		<p class="listelement">
Bitllaires de Fogars "A"		</p>

		<p class="listelement">
67		</p>

		<p class="listelement">
1		</p>
		
	</div>

	<div class="tablecontainer hidden" id=
"t18"	>
	<p class="tableelement">
		Promig
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
		Punts totals
	</p>
	<p class="tableelement">
67	</p>
	<p class="tableelement">
5	</p>
	<p class="tableelement">
67	</p>
	</div>
		
</div><div id=
"19"	>

	<div class="listcontainer">

		<p class="listelement">
19		</p>

		<p class="listelement">
Abel Caballé		</p>

		<p class="listelement">
Bitllerus Junior		</p>

		<p class="listelement">
67		</p>

		<p class="listelement">
2		</p>
		
	</div>

	<div class="tablecontainer hidden" id=
"t19"	>
	<p class="tableelement">
		Promig
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
		Punts totals
	</p>
	<p class="tableelement">
67	</p>
	<p class="tableelement">
9	</p>
	<p class="tableelement">
134	</p>
	</div>
		
</div><div id=
"20"	>

	<div class="listcontainer">

		<p class="listelement">
20		</p>

		<p class="listelement">
Biel Poch		</p>

		<p class="listelement">
Peps		</p>

		<p class="listelement">
66		</p>

		<p class="listelement">
2		</p>
		
	</div>

	<div class="tablecontainer hidden" id=
"t20"	>
	<p class="tableelement">
		Promig
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
		Punts totals
	</p>
	<p class="tableelement">
66	</p>
	<p class="tableelement">
7	</p>
	<p class="tableelement">
132	</p>
	</div>
		
</div><div id=
"21"	>

	<div class="listcontainer">

		<p class="listelement">
21		</p>

		<p class="listelement">
Miquel Manresa		</p>

		<p class="listelement">
Minibitllerus		</p>

		<p class="listelement">
65		</p>

		<p class="listelement">
1		</p>
		
	</div>

	<div class="tablecontainer hidden" id=
"t21"	>
	<p class="tableelement">
		Promig
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
		Punts totals
	</p>
	<p class="tableelement">
65	</p>
	<p class="tableelement">
5	</p>
	<p class="tableelement">
65	</p>
	</div>
		
</div><div id=
"22"	>

	<div class="listcontainer">

		<p class="listelement">
22		</p>

		<p class="listelement">
Aleix Caballé		</p>

		<p class="listelement">
Minibitllerus		</p>

		<p class="listelement">
65		</p>

		<p class="listelement">
1		</p>
		
	</div>

	<div class="tablecontainer hidden" id=
"t22"	>
	<p class="tableelement">
		Promig
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
		Punts totals
	</p>
	<p class="tableelement">
65	</p>
	<p class="tableelement">
4	</p>
	<p class="tableelement">
65	</p>
	</div>
		
</div><div id=
"23"	>

	<div class="listcontainer">

		<p class="listelement">
23		</p>

		<p class="listelement">
Iulian Bultoc		</p>

		<p class="listelement">
Bitlla Atòmica		</p>

		<p class="listelement">
65		</p>

		<p class="listelement">
2		</p>
		
	</div>

	<div class="tablecontainer hidden" id=
"t23"	>
	<p class="tableelement">
		Promig
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
		Punts totals
	</p>
	<p class="tableelement">
65	</p>
	<p class="tableelement">
7	</p>
	<p class="tableelement">
130	</p>
	</div>
		
</div><div id=
"24"	>

	<div class="listcontainer">

		<p class="listelement">
24		</p>

		<p class="listelement">
Marià Perez		</p>

		<p class="listelement">
La Penya del Bistec		</p>

		<p class="listelement">
63		</p>

		<p class="listelement">
1		</p>
		
	</div>

	<div class="tablecontainer hidden" id=
"t24"	>
	<p class="tableelement">
		Promig
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
		Punts totals
	</p>
	<p class="tableelement">
63	</p>
	<p class="tableelement">
5	</p>
	<p class="tableelement">
63	</p>
	</div>
		
</div><div id=
"25"	>

	<div class="listcontainer">

		<p class="listelement">
25		</p>

		<p class="listelement">
Pere Cot		</p>

		<p class="listelement">
Bitllaires de Fogars "B"		</p>

		<p class="listelement">
63		</p>

		<p class="listelement">
2		</p>
		
	</div>

	<div class="tablecontainer hidden" id=
"t25"	>
	<p class="tableelement">
		Promig
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
		Punts totals
	</p>
	<p class="tableelement">
63	</p>
	<p class="tableelement">
9	</p>
	<p class="tableelement">
126	</p>
	</div>
		
</div><div id=
"26"	>

	<div class="listcontainer">

		<p class="listelement">
26		</p>

		<p class="listelement">
Laura Alonso		</p>

		<p class="listelement">
Vila de Tordera		</p>

		<p class="listelement">
62.5		</p>

		<p class="listelement">
2		</p>
		
	</div>

	<div class="tablecontainer hidden" id=
"t26"	>
	<p class="tableelement">
		Promig
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
		Punts totals
	</p>
	<p class="tableelement">
62.5	</p>
	<p class="tableelement">
9	</p>
	<p class="tableelement">
125	</p>
	</div>
		
</div><div id=
"27"	>

	<div class="listcontainer">

		<p class="listelement">
27		</p>

		<p class="listelement">
Alex Solano		</p>

		<p class="listelement">
Bitllaires de Fogars "A"		</p>

		<p class="listelement">
62.5		</p>

		<p class="listelement">
2		</p>
		
	</div>

	<div class="tablecontainer hidden" id=
"t27"	>
	<p class="tableelement">
		Promig
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
		Punts totals
	</p>
	<p class="tableelement">
62.5	</p>
	<p class="tableelement">
8	</p>
	<p class="tableelement">
125	</p>
	</div>
		
</div><div id=
"28"	>

	<div class="listcontainer">

		<p class="listelement">
28		</p>

		<p class="listelement">
Alejandro Soria		</p>

		<p class="listelement">
Bitllaires de Fogars "A"		</p>

		<p class="listelement">
62.5		</p>

		<p class="listelement">
2		</p>
		
	</div>

	<div class="tablecontainer hidden" id=
"t28"	>
	<p class="tableelement">
		Promig
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
		Punts totals
	</p>
	<p class="tableelement">
62.5	</p>
	<p class="tableelement">
8	</p>
	<p class="tableelement">
125	</p>
	</div>
		
</div><div id=
"29"	>

	<div class="listcontainer">

		<p class="listelement">
29		</p>

		<p class="listelement">
Martí Barrera		</p>

		<p class="listelement">
Bitllerus Junior		</p>

		<p class="listelement">
60		</p>

		<p class="listelement">
2		</p>
		
	</div>

	<div class="tablecontainer hidden" id=
"t29"	>
	<p class="tableelement">
		Promig
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
		Punts totals
	</p>
	<p class="tableelement">
60	</p>
	<p class="tableelement">
7	</p>
	<p class="tableelement">
120	</p>
	</div>
		
</div><div id=
"30"	>

	<div class="listcontainer">

		<p class="listelement">
30		</p>

		<p class="listelement">
Salvador Escudero		</p>

		<p class="listelement">
Bitlla Atòmica		</p>

		<p class="listelement">
58.5		</p>

		<p class="listelement">
2		</p>
		
	</div>

	<div class="tablecontainer hidden" id=
"t30"	>
	<p class="tableelement">
		Promig
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
		Punts totals
	</p>
	<p class="tableelement">
58.5	</p>
	<p class="tableelement">
7	</p>
	<p class="tableelement">
117	</p>
	</div>
		
</div><div id=
"31"	>

	<div class="listcontainer">

		<p class="listelement">
31		</p>

		<p class="listelement">
Cristian Luna		</p>

		<p class="listelement">
Bitllaires de Fogars "A"		</p>

		<p class="listelement">
56		</p>

		<p class="listelement">
2		</p>
		
	</div>

	<div class="tablecontainer hidden" id=
"t31"	>
	<p class="tableelement">
		Promig
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
		Punts totals
	</p>
	<p class="tableelement">
56	</p>
	<p class="tableelement">
5	</p>
	<p class="tableelement">
112	</p>
	</div>
		
</div><div id=
"32"	>

	<div class="listcontainer">

		<p class="listelement">
32		</p>

		<p class="listelement">
Mercè Correa		</p>

		<p class="listelement">
Bitllaires de Fogars "B"		</p>

		<p class="listelement">
55.5		</p>

		<p class="listelement">
2		</p>
		
	</div>

	<div class="tablecontainer hidden" id=
"t32"	>
	<p class="tableelement">
		Promig
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
		Punts totals
	</p>
	<p class="tableelement">
55.5	</p>
	<p class="tableelement">
7	</p>
	<p class="tableelement">
111	</p>
	</div>
		
</div><div id=
"33"	>

	<div class="listcontainer">

		<p class="listelement">
33		</p>

		<p class="listelement">
Lluis Barrera		</p>

		<p class="listelement">
Caçabitlles		</p>

		<p class="listelement">
55.5		</p>

		<p class="listelement">
2		</p>
		
	</div>

	<div class="tablecontainer hidden" id=
"t33"	>
	<p class="tableelement">
		Promig
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
		Punts totals
	</p>
	<p class="tableelement">
55.5	</p>
	<p class="tableelement">
5	</p>
	<p class="tableelement">
111	</p>
	</div>
		
</div><div id=
"34"	>

	<div class="listcontainer">

		<p class="listelement">
34		</p>

		<p class="listelement">
Amadeu Ciurana		</p>

		<p class="listelement">
Bitllerus Junior		</p>

		<p class="listelement">
55		</p>

		<p class="listelement">
1		</p>
		
	</div>

	<div class="tablecontainer hidden" id=
"t34"	>
	<p class="tableelement">
		Promig
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
		Punts totals
	</p>
	<p class="tableelement">
55	</p>
	<p class="tableelement">
4	</p>
	<p class="tableelement">
55	</p>
	</div>
		
</div><div id=
"35"	>

	<div class="listcontainer">

		<p class="listelement">
35		</p>

		<p class="listelement">
Natalia Ros		</p>

		<p class="listelement">
Bitllaires de Fogars "B"		</p>

		<p class="listelement">
55		</p>

		<p class="listelement">
1		</p>
		
	</div>

	<div class="tablecontainer hidden" id=
"t35"	>
	<p class="tableelement">
		Promig
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
		Punts totals
	</p>
	<p class="tableelement">
55	</p>
	<p class="tableelement">
4	</p>
	<p class="tableelement">
55	</p>
	</div>
		
</div><div id=
"36"	>

	<div class="listcontainer">

		<p class="listelement">
36		</p>

		<p class="listelement">
Héctor Mateo		</p>

		<p class="listelement">
Minibitllerus		</p>

		<p class="listelement">
55		</p>

		<p class="listelement">
2		</p>
		
	</div>

	<div class="tablecontainer hidden" id=
"t36"	>
	<p class="tableelement">
		Promig
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
		Punts totals
	</p>
	<p class="tableelement">
55	</p>
	<p class="tableelement">
7	</p>
	<p class="tableelement">
110	</p>
	</div>
		
</div><div id=
"37"	>

	<div class="listcontainer">

		<p class="listelement">
37		</p>

		<p class="listelement">
Jan Caupena		</p>

		<p class="listelement">
Bitllerus Junior		</p>

		<p class="listelement">
55		</p>

		<p class="listelement">
1		</p>
		
	</div>

	<div class="tablecontainer hidden" id=
"t37"	>
	<p class="tableelement">
		Promig
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
		Punts totals
	</p>
	<p class="tableelement">
55	</p>
	<p class="tableelement">
3	</p>
	<p class="tableelement">
55	</p>
	</div>
		
</div><div id=
"38"	>

	<div class="listcontainer">

		<p class="listelement">
38		</p>

		<p class="listelement">
Dolors Casals		</p>

		<p class="listelement">
Bitllaires de Fogars "B"		</p>

		<p class="listelement">
54.5		</p>

		<p class="listelement">
2		</p>
		
	</div>

	<div class="tablecontainer hidden" id=
"t38"	>
	<p class="tableelement">
		Promig
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
		Punts totals
	</p>
	<p class="tableelement">
54.5	</p>
	<p class="tableelement">
8	</p>
	<p class="tableelement">
109	</p>
	</div>
		
</div><div id=
"39"	>

	<div class="listcontainer">

		<p class="listelement">
39		</p>

		<p class="listelement">
Antonio Casado		</p>

		<p class="listelement">
Vila de Tordera		</p>

		<p class="listelement">
54.5		</p>

		<p class="listelement">
2		</p>
		
	</div>

	<div class="tablecontainer hidden" id=
"t39"	>
	<p class="tableelement">
		Promig
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
		Punts totals
	</p>
	<p class="tableelement">
54.5	</p>
	<p class="tableelement">
7	</p>
	<p class="tableelement">
109	</p>
	</div>
		
</div><div id=
"40"	>

	<div class="listcontainer">

		<p class="listelement">
40		</p>

		<p class="listelement">
Jaume Poch		</p>

		<p class="listelement">
Peps		</p>

		<p class="listelement">
53.5		</p>

		<p class="listelement">
2		</p>
		
	</div>

	<div class="tablecontainer hidden" id=
"t40"	>
	<p class="tableelement">
		Promig
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
		Punts totals
	</p>
	<p class="tableelement">
53.5	</p>
	<p class="tableelement">
7	</p>
	<p class="tableelement">
107	</p>
	</div>
		
</div><div id=
"41"	>

	<div class="listcontainer">

		<p class="listelement">
41		</p>

		<p class="listelement">
Eduard Salich		</p>

		<p class="listelement">
Bitllaires de Fogars "A"		</p>

		<p class="listelement">
53		</p>

		<p class="listelement">
1		</p>
		
	</div>

	<div class="tablecontainer hidden" id=
"t41"	>
	<p class="tableelement">
		Promig
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
		Punts totals
	</p>
	<p class="tableelement">
53	</p>
	<p class="tableelement">
3	</p>
	<p class="tableelement">
53	</p>
	</div>
		
</div><div id=
"42"	>

	<div class="listcontainer">

		<p class="listelement">
42		</p>

		<p class="listelement">
Alan Mena		</p>

		<p class="listelement">
Bitllerus Junior		</p>

		<p class="listelement">
50.5		</p>

		<p class="listelement">
2		</p>
		
	</div>

	<div class="tablecontainer hidden" id=
"t42"	>
	<p class="tableelement">
		Promig
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
		Punts totals
	</p>
	<p class="tableelement">
50.5	</p>
	<p class="tableelement">
5	</p>
	<p class="tableelement">
101	</p>
	</div>
		
</div><div id=
"43"	>

	<div class="listcontainer">

		<p class="listelement">
43		</p>

		<p class="listelement">
Neus Sureda		</p>

		<p class="listelement">
Bitllaires de Fogars "B"		</p>

		<p class="listelement">
50		</p>

		<p class="listelement">
1		</p>
		
	</div>

	<div class="tablecontainer hidden" id=
"t43"	>
	<p class="tableelement">
		Promig
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
		Punts totals
	</p>
	<p class="tableelement">
50	</p>
	<p class="tableelement">
2	</p>
	<p class="tableelement">
50	</p>
	</div>
		
</div><div id=
"44"	>

	<div class="listcontainer">

		<p class="listelement">
44		</p>

		<p class="listelement">
Xevi Ros		</p>

		<p class="listelement">
Bitllaires de Fogars "B"		</p>

		<p class="listelement">
41.5		</p>

		<p class="listelement">
2		</p>
		
	</div>

	<div class="tablecontainer hidden" id=
"t44"	>
	<p class="tableelement">
		Promig
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
		Punts totals
	</p>
	<p class="tableelement">
41.5	</p>
	<p class="tableelement">
4	</p>
	<p class="tableelement">
83	</p>
	</div>
		
</div><div id=
"45"	>

	<div class="listcontainer">

		<p class="listelement">
45		</p>

		<p class="listelement">
Roger Roura		</p>

		<p class="listelement">
Juego de Conos		</p>

		<p class="listelement">
40		</p>

		<p class="listelement">
2		</p>
		
	</div>

	<div class="tablecontainer hidden" id=
"t45"	>
	<p class="tableelement">
		Promig
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
		Punts totals
	</p>
	<p class="tableelement">
40	</p>
	<p class="tableelement">
4	</p>
	<p class="tableelement">
80	</p>
	</div>
		
</div><div id=
"46"	>

	<div class="listcontainer">

		<p class="listelement">
46		</p>

		<p class="listelement">
Silvia Delcor		</p>

		<p class="listelement">
La Penya del Bistec		</p>

		<p class="listelement">
38		</p>

		<p class="listelement">
1		</p>
		
	</div>

	<div class="tablecontainer hidden" id=
"t46"	>
	<p class="tableelement">
		Promig
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
		Punts totals
	</p>
	<p class="tableelement">
38	</p>
	<p class="tableelement">
1	</p>
	<p class="tableelement">
38	</p>
	</div>
		
</div><div id=
"47"	>

	<div class="listcontainer">

		<p class="listelement">
47		</p>

		<p class="listelement">
Paulino Alonso		</p>

		<p class="listelement">
Vila de Tordera		</p>

		<p class="listelement">
37.5		</p>

		<p class="listelement">
2		</p>
		
	</div>

	<div class="tablecontainer hidden" id=
"t47"	>
	<p class="tableelement">
		Promig
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
		Punts totals
	</p>
	<p class="tableelement">
37.5	</p>
	<p class="tableelement">
5	</p>
	<p class="tableelement">
75	</p>
	</div>
		
</div><div id=
"48"	>

	<div class="listcontainer">

		<p class="listelement">
48		</p>

		<p class="listelement">
Cristina Folch		</p>

		<p class="listelement">
Caçabitlles		</p>

		<p class="listelement">
37		</p>

		<p class="listelement">
1		</p>
		
	</div>

	<div class="tablecontainer hidden" id=
"t48"	>
	<p class="tableelement">
		Promig
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
		Punts totals
	</p>
	<p class="tableelement">
37	</p>
	<p class="tableelement">
2	</p>
	<p class="tableelement">
37	</p>
	</div>
		
</div><div class="px25"></div>

</body>

<footer>
<img id="footerlogo" src="../static/logo.png">

<span id="spacer"></span>
	
	<a href="https://BitllesALaFresca.anthrline.repl.co"><span class="link-spanner"></span></a>
	<svg
  width="24"
  height="24"
  viewBox="0 0 24 24"
  fill="none"
	id="tomenu"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    d="M20.3284 11.0001V13.0001L7.50011 13.0001L10.7426 16.2426L9.32842 17.6568L3.67157 12L9.32842 6.34314L10.7426 7.75735L7.49988 11.0001L20.3284 11.0001Z"
    fill="currentColor"
  />
</svg>
</footer>
</html>